#canvas3D div canvas {
    display: block;
	width: 100%;
    height: 100%;
}

#canvas3D {
    max-height: 525px;
    width: 100%;
    height: 100%;
	position:relative;
}

#gui {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
}

#field3D{
    width: 100%;
    height: 87%;
}

/* dat gui */

.dg .c input[type=checkbox] {
    float: right;
}

.dg .cr.boolean {
    width: 10vw;
}

.dg.main .close-button.close-bottom {
    width: 10vw;
}
