.myTabs {
    background-color: #d7e0df;
    height: 85vh;
    max-height: 1400px;
    color: black !important;
}

#tabs ul li a {
    color: black;
}

.myTabsNav {
    background-color: #eeefea;
    color: black !important;
    padding: 0.2em 0.2em 0.3% !important;
}

.myTabsActive {
    background-color: #f7aec2;
}

.myTabsDisabled{
    background-color: #0b2e13;
}

.myTabsTab {

}

.myTabsStateDefault{
    background-color: #8e1f0a;
}

.ui-tabs .ui-tabs-panel {
    background: unset;
}

.myTabsPanel {
    height: 90%;
    overflow-y: scroll;
    background-color: #e6e6e6 !important;
}
