table.type-id-table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  
  
  /*font-size: 13px;*/
}
table.type-id-table th:nth-of-type(1), 
table.type-id-table td:nth-of-type(1), 
table.foreign-id-table th:nth-of-type(1), 
table.foreign-id-table td:nth-of-type(1) {
	width: 20px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align:middle;
}

table.type-id-table th:nth-of-type(2), 
table.type-id-table td:nth-of-type(2), 
table.foreign-id-table th:nth-of-type(2), 
table.foreign-id-table td:nth-of-type(2) {
	text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align:middle;
}
table.type-id-table th:nth-of-type(3), 
table.type-id-table td:nth-of-type(3), 
table.foreign-id-table th:nth-of-type(3), 
table.foreign-id-table td:nth-of-type(3) {
  width: 80px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  vertical-align:middle;
}
table.type-id-table th:nth-of-type(4), 
table.type-id-table td:nth-of-type(4), 
table.foreign-id-table th:nth-of-type(4), 
table.foreign-id-table td:nth-of-type(4) {
	width:80px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  vertical-align:middle;
}
table.type-id-table th:nth-of-type(5), 
table.type-id-table td:nth-of-type(5), 
table.foreign-id-table th:nth-of-type(5), 
table.foreign-id-table td:nth-of-type(5) {
	width:50px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  vertical-align:middle;

}
table.type-id-table th:nth-of-type(6), 
table.type-id-table td:nth-of-type(6), 
table.foreign-id-table th:nth-of-type(6), 
table.foreign-id-table td:nth-of-type(6) {
	width:25px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  vertical-align:middle;
}
table.type-id-table th:nth-of-type(7), 
table.type-id-table td:nth-of-type(7), 
table.foreign-id-table th:nth-of-type(7), 
table.foreign-id-table td:nth-of-type(7) {
	width:10px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  vertical-align:middle;
}
table.type-id-table input, 
table.foreign-id-table input {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  height: 26px;
}
input.is-success {
  border-color: #3c763d;
  background-color: #f0faeb;
}
input.is-error {
  border-color: #a94442;
  background-color: #f5e1d7;
}
td.is-success{
  background: #f0faeb;
}
td.is-error{
  background: #f5e1d7;
}

table.type-id-table .checkbox,
table.foreign-id-table .checkbox{
    /*margin-top: 2px;*/
    height: 20px;
    margin: auto;
}

table.type-id-table .span-edit,
table.foreign-id-table .span-edit{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    color: #3b7fba;
}

span.input_btn {
    padding-left: 6px;
    padding-right: 6px;
}
input.abit_input {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
}
span.input_btn>span.span-edit{
  color: #3b7fba;
}

table.foreign-id-table .span-delete-id{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    
}

.span-delete-dop-konk{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    
}