.left-side{
}

/*#left-accordion {
    box-shadow: 0px 0px 2px 1px #b7b7b7;
}*/

/*@media (min-width: 1200px) and (min-height: 900px){
    .sticky-top-custom{
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
        z-index: 1020;
    }
}*/

.my_ui-accordion {
    padding: 0.1%;
}

.my_ui-accordion-header {
    outline: none;
    color: white;
    user-select: none;
    /*background-color: #1c2331e3 !important;*/
    border-radius: .25rem;
    -webkit-transition: all 1s;
    transition: all 1s;
    border-color: #dee2e6 #dee2e6 #fff;
    display: block;
    padding: 0.5rem 1rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.my_accordion-header-active {
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    border-radius: .25rem;
    -webkit-transition: all 1s;
    transition: all 1s;
    border-color: #dee2e6 #dee2e6 #fff;
}

.my_ui-accordion-header-collapsed {
    background-color: #45526e !important;
    color: #ffffff;
}

.my_ui-accordion-content {
    /*margin: 5px;*/
    background-color: rgba(255, 255, 255, 0.41);
    overflow: auto;
}

.my_ui-accordion-content-active {
    background-color: #79ddce;
    //font-size: 0.7em;
}

#left-accordion div{
    background-color: white;
    padding: 1.5% 0% 0% 2.5%;
    border: 0px;
}

#pdm_field.label {
    border: 0px;
}

/*настройка checkbox*/

.check_active{
    background-color: transparent;
}

.check_non-active{
    background-color: transparent;
}


/*значение стиля checkbox по умолчанию*/
.check_std{
    cursor: grab;
    margin: 5px;
    display: inline-block;
    padding: 0.2%;
    user-select: none;
}

.check_icon-non{
}

.check_icon-checked{
}

.check_icon{
    float: right;
}

/*цвет иконок*/
.material-icons.col{
    color: #421709;
}

fieldset p label span{
    position: relative;
    top: 20px;
    margin-left: 0.5%;
}

fieldset p{
    cursor: grab;
    margin-top: 5%;
    margin-left: 3%;
    display: grid;
    font-size: 1.1em;
    font-weight: bolder;
    text-shadow: black;
    width: 93%;
    max-width: 200px;
    /*background: rgb(239,239,239);
    background: linear-gradient(261deg, rgba(239,239,239,1) 0%, rgba(242,242,242,1) 100%);*/
    background-color: white;
    padding: 0.1% 0.1% 3% 2%;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 1px #e69797;
    z-index: 999;
}

fieldset p:hover{
    box-shadow: 0px 0px 14px 1px #e69797;
    border-radius: 8px;
}

.left-side p label img{
    width: 85%;
    max-height: 152px;
    max-width: 163px;
    margin-bottom: 2%;
    padding-right: 2%;
}

#left-accordion fieldset p input{
   display: none;
}

.myAccordionActive{
    background-color: #2f2f2f  !important;
}

.left_accord_div{
    overflow-y: scroll !important;
}

.left_accord_div::-webkit-scrollbar {
    width: 3px;
}

.left_accord_div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.left_accord_div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.my-bg-secondary{
    background-color: #6c757d;
}
