table.nast_edit{
  width: 100%;
}
table.nast_edit>tbody>tr>td{
  width: 50%;
  vertical-align: top;
  padding: 5px;
}
table.nast_add{
  width: 100%;
}
table.nast_add>tbody>tr>td{
  width: 50%;
  vertical-align: top;
  padding: 5px;
}
table.nast_show{
  width: 100%;
}
table.nast_show>tbody>tr>td{
  width: 50%;
  vertical-align: top;
  padding: 5px;
}

.control-label {
    padding-right: 0px;
    padding-left: 0px;

}

.td-edit{
    width: 50px;
}
.td-delete{
    width: 20px;
}
.paragraf {
    /*height: 17px;*/
    display: block;
    background-color: #ECECEC;
    font-weight: bold;
    padding: 10px;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    color: #305086;
    margin: 0;
}
.primary_bg {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    background: #E6E6FA;
    padding: 7px 20px;
}
.paragraf_show {
    /*height: 17px;*/
    display: block;
    background-color: #ECECEC;
    font-weight: bold;
    padding: 10px;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    color: #305086;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d4d4;
}
.primary_bg_show{
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    /*background: #E6E6FA;*/
    padding: 7px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d4d4;
}

 textarea {
    width: 90%; /* Ширина поля в процентах */
    height: 200px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
} 
.cur_hover{cursor: pointer;}