.custom-toast-position {
    position: absolute;
    bottom: 3.5rem;
    right: 0.7rem;
    min-width: 300px;
    z-index: 999;
}

@media (max-width: 900px)  {
    .custom-toast-position{
        max-height: 332px;
        overflow-y: scroll;
        min-width: 100px !important;
        max-width: 230px !important;;
    }
}

#notificationBell{
    font: normal normal normal 1.2em/1 FontAwesome;
    width: 45px;
}

#toast-section{
    position: fixed;
    right: 0rem;
    bottom: 2.5rem;
    z-index: 1030;
    width: 6rem;
}
