.custom-toast-position {
    position: absolute;
    bottom: 3.5rem;
    right: 0.7rem;
    min-width: 250px;
    z-index: 999;
    max-height: 450px;
    overflow-y: auto;
}

.custom-toast-position::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.custom-toast-position::-webkit-scrollbar {
    width: 5px;
}

.custom-toast-position::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px)  {
    .custom-toast-position{
        max-height: 332px;
        overflow-y: scroll;
        min-width: 100px !important;
        max-width: 230px !important;
    }
}

#notificationBell{
    font: normal normal normal 1.2em/1 FontAwesome;
    width: 45px;
}

#toast-section{
    position: fixed;
    right: 0rem;
    bottom: 2.5rem;
    z-index: 999;
    width: 6rem;
}

