table.nast_edit{
  width: 100%;
}
table.nast_edit>tbody>tr>td{
  width: 50%;
  vertical-align: top;
  padding: 5px;
}
.control-label {
    padding-right: 0px;
    padding-left: 0px;

}

.td-edit{
    width: 45px;
}
.paragraf {
	/*height: 17px;*/
	display: block;
	background-color: #ECECEC;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	color: #305086;
  margin: 0;

}
.primary_bg {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background: #E6E6FA;
  padding: 7px 20px;
}