hr.delim {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 2px solid #000;
}
hr.delim_olimp {
  margin-top: 2px;
  margin-bottom: 2px;
  border-top: 2px solid #c3c3c3;
}
table.table_abits{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-size: 13px;
}
table.table_abits th {
  border: 1px solid black;
}
table.table_abits td{
  border: 1px solid black;
}