#specificationBlock input{
    width: 100%;
    height: 100%;
}

.spec_header {
    font-size: 30px;
}

.addNewRowToSpecTableButton{
    cursor: pointer;
}

#specificationTable{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

#specificationTableBlock{
    margin-right: auto;
    margin-left: auto;
    width: 950px;
    max-width: 950px;
    min-width: 950px;
}
