#specificationBlock {
}

#specification_edit{
    width: 100% !important;
}

#routeMapBlock{
    width: 100% !important;
}

.table_edit {
    background-color: white;
    width: 100%;
    height: 20%;
}

.table_edit thead {
    background-color: #0097a7;
}

.table_edit tr {
    height: 30px;
}

.table_edit th {
    border-width: 1px;
}

.table_edit th div {
    padding: 3px;
}

.table_edit td {
    max-width: 80px;
}

.edit_cell_div_hide {
    display: none;
}

.edit_cell_div {
    color: #455a64;
    padding: 3px;
    height: 100%;
    word-wrap: break-word;
    display: block;
}

.edit_cell_input_hide {
    display: none;
}

.edit_cell_input {
    background-color: inherit;
    //height: 100%;
    min-width: 80px;
    width: 100%;
    margin-top: 2px !important;
    border-width: 0 !important;
    padding: 1px !important;
    display: block;
}

.spec_header {
    font-size: 30px;
}

.button_edit_mode {
/ / padding: 10 px !important;
}

.edit_div_toggle {
    //display: grid;
    display: flex;
}

.check_div {
    display: block !important;
}

.input_text {
}

.edit_cell_readonly {
    padding: 3px;
    color: #000000;
}

.edit_div_toggle input {
    width: 100%;
}

.edit_cell{
    padding: 0 !important;
}

.firstCol{
    color: #b5a998;
    margin-left: 9%;
    font: normal normal normal 2em/1 FontAwesome;
    font-weight: 900;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.firstCol:before{
    content: "\00d7";
    display: inline-block;
}

.firstCol:hover{
    color: black;
}

.firstColPlus{
    width: 33px;
    color: black;
    background-color: white;
    text-align: center;
    font: normal normal normal 2em/1 FontAwesome;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.firstColPlus:hover{
    background-color: #bbbaba;
    color: white;
}

.firstColPlus:before{
    //content: "\f067";
    display: inline-block;
}

.editCol{
    cursor: pointer;
    display: inline-block;
}

.toEditPenCol{
    width: 30px;
    height: 30px;
    content: url("../images/banned_pen.png");
}

.toRoPenCol{
    width: 30px;
    height: 30px;
    content: url("../images/edit_pen.png");
}
