/*p{
    background-color: #fbfbfb;
    margin: 1%;
    padding: 1%;
}*/

.myContainer{
   /* max-width: 1600px !important;*/
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    height: 100% !important;
}

.myRow{
    /*height: 97vh;*/
}

body{
    background-color: #eeefea;
}

h4{
    font-size: 1.6em;
    margin-top: 1%;
    text-align: center;
}

.ui-accordion .ui-accordion-content {
    padding: 0.7em 0.5em;
    border-top: 0;
    /*overflow-y: scroll !important;*/
}
