ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    padding: 5px;
    margin: 3px;
    font: normal normal normal 1.15em/1 FontAwesome;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    display: block;
}

.caret::before {
    content: "\f13a";
    color: black;
    display: inline-block;
    margin-right: 6px;
    font-size: 0.85em;
}

.caret-down::before {
    content: "\f139";
    font-size: 0.85em;
}

.nested {
    display: none;
}

.active {
    display: block;
}

.active li{
    /*border-left-style: groove;*/
    padding: 0;
    color: #0c5460;
    border-color: #bee5eb;
    border-bottom-style: none;
    border-right-style: none;
    margin-bottom: 10px;
}

.techField{
    list-style: disc;
}

.techFieldsDropArea li{
    margin-bottom: 3px !important;
}

.caret:hover{
    color: black;
}

#esi_branch_body .caret:hover{
    color: white;
    background-color: #515356;
}

#esi_branch_body_header_span:hover{
    color: white !important;
    background-color: #515356 !important;
}

.techProcessCellEquipment ul{
    font-size: 1.3em;
    min-height: 40px;
}

.techField{
    cursor: pointer;
}

.techProcessCellTools ul{
    font-size: 1.3em;
    min-height: 40px;
}

#esi_branch_body .active li{
    border-left-style: none;
}

.emptySpan{
    font-size: 1.2em;
}

#tech_process_table{
    width: 100%;
}

#tech_process_table td{
    border: black solid 1px;
    padding: 0 0 0 1px;
    margin: 0;
    text-align: left;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 500;
    overflow-x: hidden;
    vertical-align: middle;
    height: 50px;
    min-height: 100px!important;
}

#tech_process_table input{
    background-color: #f8f9fa;
    font-style: italic;
    font-weight: 500;
    width: 100%;
    height: 100%
}

.rotateText90 >*{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    word-wrap: normal!important;
}

.tdBorderBlackLeft{
    border-left: 3px solid black!important;
}

.tdBorderBlackRight {
    border-right: 3px solid black !important;
}

.tdBorderBlackTop {
    border-top: 3px solid black !important;
}

.tdBorderBlackBottom {
    border-bottom: 3px solid black !important;
}

#tech_process_drop{
    height: 150px;
    background-color: black;
    z-index: 999;
}

.techProcessCell{
    font-size: 1em !important;
}

#tech_process_field_drop{
    min-height: 300px;
}

.operationNameDropArea{}

.myNested{
    min-height: 35px;
}

.techNameDropped{
    list-style: none;
    margin-bottom: 3rem;
    background-color: #fbfbfb;
}

.route_map_new_row_button{
    font: normal normal normal 1.3em/1 FontAwesome;
    margin-left: 0.1rem;
    cursor: pointer;
}

.route_map_new_row_button::before{
    content: "\f067";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.routeMapInput{
    width: 100%;
    height: 100%;
    padding: 0.1rem !important;
    text-align: left;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 500;
    border: none;
}

.deleteNodeButtonRM{
    font: normal normal normal 1.0em/1 FontAwesome;
    margin-left: 0.1rem;
    cursor: pointer;
}

.deleteNodeButtonRM::before{
    content: "\f00d";
    color: black;
}

#tech_process_field_drop .caret{
    display: initial !important;
}
