.header {
            padding-top: 40px;
            padding-bottom: 30px;
            margin-bottom: 40px;
            text-align: left;
            background-color: #0072BC;
          }
          .header h1 {
            margin-top: 0;
            color: #fff;
            font-size: 40px;
            line-height: 1;
          }
          .header .header-text p {
            font-size: 20px;
            margin-bottom: 0;
            font-weight: 300;
            line-height: 1.4;
            color: #92C2E2;
          }
          .header img {
              float: left; 
              margin-top: -10px;
              margin-right: 40px;
          }
          form.login_form{
            width: 200px;
          }
          .login-cont{
            width: 550px;
            margin: 0 auto;
          }
          .nav li a{
            font-size: 18px;
          }

.control-label {
    padding-right: 0px;
    padding-left: 0px;

}

.paragraf {
	/*height: 17px;*/
	display: block;
	background-color: #ECECEC;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	color: #305086;
  margin: 0;

}
.primary_bg {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background: #E6E6FA;
  padding: 7px 20px;
}

.form-horizontal>div{
    margin-bottom: 0px;
}