#esi_field {
    background-color: #eeefea;
    height: 90vh;
    //box-shadow: 0 0 15px 1px #66a8bd;
    border: #d7e0df solid 4px;
}

#esi_field::-webkit-scrollbar {
    width: 3px;
}

#esi_field::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#esi_field::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.esi_branches_div{
overflow-y: scroll;
    max-height: 77vh;
}

.esi_branches {
    padding: 5px 5px 5px 0;
}

.esi_header {
    padding: .5em 1em;
    font-size: 16px;
    text-align: center;
    background-color: #f7aec2;
}

.esi_branch {
    width: 100%;
    height: 30%;
    min-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.esi_branch_row {
    width: 100%;
}

.esi_branch_sh {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.esi_branch_header {
    text-align: center;
    color: black;
    width: 95%;
    height: 20%;
    min-height: 40px;
    border-radius: 2px 2px 0 0;
    float: right;
    background-color:#eeefea;
    border: #eb737c solid 2px;
    //box-shadow: 0 0 1px 1px #66a8bd;
}

.esi_branch_header:active {
/ / transform: scale(0.99);
}

.esi_branch_switcher {
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    height: 20%;
    min-height: 20px;
    float: left;
    cursor: pointer;
    text-align: center;
}

.esi_branch_content_row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.esi_branch_content_noNiv{
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    height: 100%;
    float: left;
    border-left: black solid 1px;
    display: block;
    visibility: hidden;
    cursor: pointer;
}

.esi_branch_content {
    background-color: #eff0eb;
    border: #eb737c solid 2px;
    border-top: 0;
    margin-bottom: 3px;
    min-height: 50px;
    height: 100%;
    width: 95%;
    float: right;
    text-align: center;
    word-wrap: break-word;
}

.esi_branch_content_ul{
    padding-left: 5px;
    list-style-type: none;
}

.esi_cont_inside1{
    background-color: #eeefea !important;
}
.esi_cont_inside2{
    background-color: #FFFFFF !important;
}
.esi_header_alt1{
    background-color: #f7aec2!important;
}

.esi_branch_switcher_plus{
    //color: #f7aec2;
   /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 background-image: url("../icons/plus.svg");*/
}

.esi_branch_switcher_minus{
    color: #f7aec2;
    /*background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../icons/minus.svg");*/
}
