.font-size-1-5-em{
    font-size: 1.5em !important;
}

.taskDeleteButtonSpan:hover{
    cursor: pointer;
}

#task-list-body textarea{
    min-height: 62px;
}

.userTask{
    background-color: #FFFFFF;
}

.border-yellow{
    border-style: solid;
    border-width: 0.15rem;
    border-color: #d1ffbb;
}

.taskHeader{
    cursor: move;
}
